NEXT_PUBLIC_APP_NAME=ALURELAB
NEXT_PUBLIC_ROOT_DOMAIN=alurelab.shop
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_CDN_BASE_URL=http://localhost:8000/storage

# Secrets
INTERNAL_API_SECRET=dev_shared_secret_key_alurelab_32chars
NEXTAUTH_SECRET=dev_nextauth_secret_alurelab_32chars
NEXTAUTH_URL=http://localhost:3000
