# Dependencies
node_modules/
vendor/

# Environment files
.env
.env.backup
.env.production
.env.local
*.local

# System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js Build
frontend/.next/
frontend/out/
frontend/build/

# Laravel Storage & Cache
backend/storage/*.key
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*
!backend/storage/framework/cache/.gitignore
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore
!backend/storage/logs/.gitignore
!backend/bootstrap/cache/.gitignore

# Testing
.phpunit.result.cache
coverage/

# Local backups
*.bak
*.bak*
backend.bak/
