APP_NAME=AlurelabCore
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000
ROOT_DOMAIN=alurelab.shop

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database (PostgreSQL 16 Multi-Tenant RLS)
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=alurelab_dev
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Session & Cache (Redis 7)
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=alurelab_cache_

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Xendit XenPlatform (Escrow & Split Payment)
XENDIT_SECRET_KEY=xnd_development_dummy_key_here
XENDIT_PUBLIC_KEY=xnd_public_development_dummy_key_here
XENDIT_WEBHOOK_TOKEN=wh_secret_token_from_xendit_dashboard

# Biteship Logistics (Multi-Courier Auto-AWB)
BITESHIP_API_URL=https://api.biteship.com/v1
BITESHIP_API_KEY=biteship_test_dummy_key_here
BITESHIP_WEBHOOK_HEADER=X-Biteship-Webhook-Secret
BITESHIP_WEBHOOK_SECRET=biteship_wh_secret_dummy

# Cloudflare for SaaS & R2 Storage
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_FALLBACK_ORIGIN=cname.alurelab.shop
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=auto
AWS_BUCKET=alurelab-media-dev
AWS_URL=http://localhost:8000/storage
AWS_ENDPOINT=

# AI Pipeline
OPENAI_API_KEY=
REPLICATE_API_TOKEN=

# WhatsApp Gateway (Fonnte)
FONNTE_API_TOKEN=
